<div *ngIf="selectedCoffeeItem" class="selected-item">
    <h2>{{ selectedCoffeeItem.name }}</h2>
    <p>{{ selectedCoffeeItem.description }}</p>
    <p>Price: ${{ selectedCoffeeItem.price }}</p>
    <p *ngIf="selectedCoffeeItem.inStock">In Stock</p>
    <p *ngIf="!selectedCoffeeItem.inStock">Out of Stock</p>
</div>

<div *ngFor="let coffee of CoffeeItems">
    <app-coffee-list-item [inStock]="coffee"></app-coffee-list-item>
    <button (click)="updateCoffeeItem(coffee)">Edit</button>
    <button (click)="deleteCoffeeItem(coffee.id)">Delete</button>
</div>


<h3>Menu</h3>
<ul>
    <li *ngFor="let coffee of CoffeeItems" (click)="selectCoffee(coffee.id)" class="clickable-item"
        style="cursor: pointer;">
        {{ coffee.name }} - ${{ coffee.price }}
    </li>
</ul>