<mat-card *ngIf="selectedCoffeeItem" class="selected-item">
    <h2>{{ selectedCoffeeItem.name }}</h2>
    <p>{{ selectedCoffeeItem.description }}</p>
    <p>Price: ${{ selectedCoffeeItem.price }}</p>
    <mat-chip-listbox>
        <mat-chip color="primary" *ngIf="selectedCoffeeItem.inStock">In Stock</mat-chip>
        <mat-chip color="warn" *ngIf="!selectedCoffeeItem.inStock">Out of Stock</mat-chip>
    </mat-chip-listbox>
</mat-card>

<mat-list>
    <mat-list-item *ngFor="let coffee of CoffeeItems">
        <app-coffee-list-item [inStock]="coffee"></app-coffee-list-item>
        <div matListItemMeta>
            <button mat-icon-button color="primary" (click)="updateCoffeeItem(coffee)">
                edit </button>
            <button mat-icon-button color="warn" (click)="deleteCoffeeItem(coffee.id)">
                delete </button>
        </div>
    </mat-list-item>
</mat-list>

<h3>Menu</h3>
<mat-list>
    <mat-list-item *ngFor="let coffee of CoffeeItems" (click)="selectCoffee(coffee.id)" class="clickable-item"
        style="cursor: pointer;">
        {{ coffee.name }} - ${{ coffee.price }}
    </mat-list-item>
</mat-list>