<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>coffee</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <nav>
    <a mat-button routerLink="/coffee" routerLinkActive="active">
      <mat-icon>list</mat-icon>
      Coffee List
    </a>
    <a mat-button routerLink="/modify-coffee" routerLinkActive="active">
      <mat-icon>edit</mat-icon>
      Modify Coffee
    </a>
  </nav>
</mat-toolbar>

<div class="app-container">
  <router-outlet></router-outlet>
</div>