body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
  margin: 0;
  padding: 20px;
  background-color: #271300;
}

h2,
h1 {
  color: #333;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
